body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background-color:#f3f0e9;
        
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/*.main{
    background-image:url("../../img_sources/slider1.jpg");
}*/

.container-fluid-main
{
    margin-left:0px;
    margin-right:0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top:3%;
    padding-bottom:0px;
    background:url("../../img_sources/carusel_back/Back_1900.jpg") no-repeat;
    width:100%;
}

.container-fluid-main-img{
    background:url("../../img_sources/carusel_back/Back_1900.jpg") no-repeat;
    width:100%;
}

#main__carousel{
    position:relative;
    z-index:1;
    color:#f3f0e9;
    width:1600px;
    margin:0 auto;
    
}

.main__menu{
    position:absolute;
    right:0px;
    top:0px;
    z-index:2;
    float:right;
    margin:0 auto;
    margin-right: 10%;
    padding-top:0.5%;
}



.main__news, .main__menu__block, .main__holorder, .main__map{
    margin-left:5%;
    margin-right:5%;
}

.section__bottom{
    border-top:1px solid #ff7c90;
}

.section__bottom .btn{
    background-color:#ff7c90;
    color:#f3f0e9;
    font-size: 12px!important;
}

section h2{
    font-family: 'Acme', sans-serif;
    color: #6F5858;
    font-weight:bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    text-align:center;
}

section h2::after{
    content: "";
    display: block;
    height: 50px;
    /*margin: 4px auto 7px;*/
    width: 100%;
    background: url("../../img_sources/ornament/up_n.png") no-repeat center;
    /*background-color: #ff7c90;*/
}

.main__news__topnews_N{
    font-size:24px;
    transform:scale(0.6,0.6);
}
.main__news__topnews_N:hover{
    transform:scale(1,1);
    transition:all 1s;
}

.main__menu a, .main__tittle, .main__tittle a, .main__news a, .main__news p, .main__menu__block a {
        /*font-family: 'Acme', sans-serif;*/
        /*font-weight:bold;*/
        font-family: Arial;
        font-size: 26px;
        /*text-transform: uppercase;*/
        text-decoration: none;
        color:#f3f0e9;
        /*letter-spacing: 0.2em;*/
}
.main__menu a, .main__tittle a, .main__news a, .main__news p, .main__menu__block a {
        background: transparent;
        /*letter-spacing: 0.2em;*/
}

.main__tittle{
    
    position:absolute;
    left:0px;
    top:0px;
    z-index:2;
    
    width: 98%;
    margin-top:1%;
    margin-left:1%;

    background-color:rgba(0, 0, 0,0.5);
    border-radius:20px;

    padding: 0 3%;
    
    /*border-right: 1px solid #FFF;*/
    /*margin-top:1%;*/
    
}

.main__tittle__left{
    float:left;
    border-right: 1px solid #FFF;
    padding-right:10px;
    text-align:right;
}

.main__tittle__right{
    /*clear:both;*/
    float:left;
    padding-left:10px;
    /*margin-left:1%;*/
}

.main-color-gray a{
    color:inherit;
}

.main__menu__block__main{
    padding-left:10%;
    padding-right:10%;
    background: url(../../../static/img_sources/paper-white.jpg) no-repeat center;
    background-size: cover;
}

.main__menu__block__main
{
    max-width:80%;
    /*position:relative;*/
    /*z-index:1;*/
}

.main__menu__block__main__text{
    /*position:absolute;*/
    top: 10px;
	left		: 0;
	width		: 100%;
    text-align:center;
    color: #6F5858;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    padding-left:10px;
    padding-right:10px;
}

.main__menu__block__main img {
    width: 100%;
    opacity: 0.3;
}

 .carousel-caption{
     color:#f3f0e9;
 }

.carousel-inner{
    color: #4c3c3c;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
.carousel-inner img{
    width:100%;
}

.navbar-inverse{
    background-color: #4c3c3c;
    /*color: #ff7c90;*/
    color:#f3f0e9;
    font-family: "Sail",sans-serif;
    font-size: 20px;
}

.main-color-pink{
    color: #ff7c90;
}

.main-color-gray{
    color: #6F5858;
}

.main-description{
    margin:2%;
    text-align:center;
}

.menu{
    padding-right:5%;
}

.menu__title__col1{
        text-align:right;
    }
.menu__title__col2{
        text-align:left;
    }
.menu__title__col3{
        text-align:left;
    }

.menu__title__col4{
        text-align:right;
    }

.menu .menu__tittle .menu__title__col1{
        padding-left:0pt;
    }
.menu>.menu__tittle>.menu__title__col2{
        padding-left:0pt;
    }

.navbar-nav li a:hover, .main__tittle__right a:hover{
    color: #ff7c90;
    background:transparent;
}

.section__main{
    margin-left:15%;
    margin-right:15%;
}

.main-description__descr{
    text-align:center;
    margin-left:15%;
    margin-right:15%;
    /*color: #4c3c3c;*/
    color: #6F5858;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.hidden_block{
opacity:0;
}

.visible{
opacity:1;
 transition:all 3s;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.form-order{
    border: 1px solid; /* Параметры границы */
    border-color:transparent #6F5858 #6F5858 #6F5858;
    background: transparent; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}

.form-order button{
    background-color:#6F5858;
    color:#f3f0e9;
    border-color:#9D7B7B;
}
.form-order button:hover {
    color:#f3f0e9;
    background-color: #9D7B7B;
    border-color: #A48E8E;
}

footer{
    margin-left: 50px;
}

.main__map .section__main, .main__news .section__main{
    text-align:center;
    color: #6F5858;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.our-menu, .our-news{
    margin: 30px 30px 30px 30px;
}

.our-news h2{
    margin-bottom:50px;
}

.our-menu__dishes, .our-news__oneNew{
    padding-left:5%;
    padding-right:5%;
}

.our-menu h4{
    font-size:16px;
}

.our-menu h3, .our-menu h4{
    text-transform: uppercase;
    font-weight:bold;
}

.our-menu, .our-menu a, .our-news, .our-news a{
    color: #6F5858;/*корич ориг*/
    font-family: 'Acme', sans-serif;
}

.our-menu h3, .our-news h3{
    color: #523D3D;
}

.our-menu a, .our-menu .row, .our-menu .col-md-8{
    padding-left:0px;
    margin-left:0px;
}

.dsh-price{
    font-weight:bold;
    font-style:italic;
    text-align: left;
    color: #ff7c90;/*розов*/
}

.dsh-menu-dbl-row{
    font-size:16px;
}
.breadcrumb{
    background-color:transparent;
    font-family: 'Acme', sans-serif;
    font-weight:bold;
    text-transform: lowercase;
    font-size:20px;
    margin: auto auto 2% auto;
}

.breadcrumb a{
    color:#6F5858;
}

.our-news__oneNew{
    font-size:22px;
}

.our-news__oneNew__date {
    font-size:18px;
}

.our-news__oneNew__title {
    font-size:20px;
    font-weight: bold;
}

.main{
    max-height:800px;
}
.main img, .section_news img, .our-news img{
    height:auto;
    width:100%;
    max-height:100%;
    max-height:700px;
    background-size:cover;
    
}

.our-news img{
    border-radius: 15%;
    height:50%;
    width:50%;
}


.main__news__topnews img {
    height:auto;
    width:100%;
    max-height:100%;
    max-height:800px;
    background-size:cover;
    border: 20px solid #6F5858;
}

.test2{
    background: url(../../../static/img_sources/paper-white.jpg) no-repeat center;
    background-size: cover;
    margin-left:20%;
    margin-right:20%;
}

.section_news .breadcrumb, .our-contacts .breadcrumb{
    max-width: 1200px;
    width: 80%;
    font-size:16px;
    
}

.section_news .container, .our-news .container, .our-menu .container, .our-contacts .container{
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
}

.section_news .container, .our-contacts .container{
    border:1px solid #6F5858;
    box-shadow: 10px 10px 25px #6F5858;
}

.section_news__text{
    text-align:center;
}

.our-news__oneNew__text{
    padding: 2% 5% 2% 5%;
}

.section_news__date{
    border: none;
    font-size:16px;
    margin-bottom:4%;
}
.section_news__date::after{
    display: none;
    background-color: none;
}

.our-contacts{
    font-size: 19px;
    font-weight: 300;
}

.contact-page{
    /*background-color:#f3f0e9;*/
    color:#6F5858;
    /*margin-top:150px;*/
}


.contact-page__contacts__icon {
    width: 64px;
    height: 64px;
    /*display: inline-block;*/
    font-size: 28px;
    line-height: 64px;
    /*color: #fff;*/
    color:#6F5858;
    background: #ff7c90;
    margin-top: 15px;
    text-align:center;
    -webkit-border-radius: 90%;
    -moz-border-radius: 90%;
    border-radius: 90%;

}

.contact-page__contacts__icon i{
    padding-top:10px;
    padding-bottom:10px;
}

.contact-page__map iframe{
    width:100%;
    height:450px;
}


.contact-page__contacts{
    margin:7% 3% 7% 3%;
}

.contact-page__contacts__descr {
    /*margin-top:15px;
    font-size: 19px;
    font-weight: 300;
    vertical-align: middle;*/
    /*padding-top:20px;*/
    float:left;
    margin: auto;
    padding-top:5%;
 }

.contact-page__contacts__descr a {
    color: #6F5858;
}

.contact-page__contacts__descr a:visited {
    color: #6F5858;
}

.contact-page__contacts__descr a:hover {
    color: #ff7c90;
    
 }

.contact-page__contacts__descr a:active {
    color: #6F5858;
 }

.dsh-menu-row-inner{
    float:left;
}

.dsh-menu-row-inner{
    padding-left:0px;
    padding-right:0px;
}

.dsh-menu-row-inner img{
    height:auto;
    width:100%;
    max-width:30px;
    max-height:30px;
    background-size:cover;
    padding:1%;
    }

.section_news__photos img{
    height:auto;
    width:100%;
    max-width:350px;
    max-height:700px;
    background-size:cover;
    border: 20px solid #6F5858;
    }

