{% extends "app/layout.html" %}

{% block content %}

{% load staticfiles %}
<link href="{% static 'img_sources/favico.png' %}" rel="icon" type="image/ico" />

<section class="our-news">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="../">Главная</a></li>
            <li class="active">{{ title }}</li>
        </ol>

        <h2 style="text-align:center"><span>{{ title }}</span></h2>

        {%for new in object_list%}
            <div class="our-news__oneNew" style="text-align:center">
                <div class="row our-news__oneNew__date">
                 {{ new.date }}
                </div>
                <div class="row our-news__oneNew__title">
                 <a href="{{new.get_absolute_url}}">{{ new.title }}</a>
                </div>
                <div class="row">
                    {%for ph in new.new_photos_set.all%}
                            {%if ph.isDefault%}
                                <a href="{{new.get_absolute_url}}">
                                    <img src={{ph.get_photo}}/>
                                </a>
                            {%endif%}
                    {%endfor%}
                </div>
                <div class="row our-news__oneNew__text">
                    {{new.text}}
                </div>
            </div>
            <hr />
        {%endfor%}
    </div>
</section>

{% endblock %}
