{% extends "app/layout.html" %}

{% block content %}

<section class="our-menu">
    <div class="container">
        <ol class="breadcrumb">
          <li><a href="../">Главная</a></li>
          <li class="active">Наше меню</li>
        </ol>
    

    <h2 style="text-align:center">{{ title }}</h2>

    <div class="our-menu__dishes">
        {%for ls in object_list_1%}
            <div class="col-md-6">
            {%for category in ls%}
                <h3>{{category.title}}</h3>
                {%for dsh in category.dish_set.all%}
                    <div class="row dsh-menu-row">
                        <div class="col-md-1 dsh-menu-row-inner">
                            <img src="{{dsh.get_img}}">
                        </div>
                        <div class="col-md-11 dsh-menu-row-inner">
                            <h4>{{ dsh.name }}</h4>
                        </div>
                    </div>
                    <div class="row dsh-menu-dbl-row">
                        <div class="col-md-8">
                        {{ dsh.descr }}
                        </div>
                        <div class="col-md-4 dsh-price">
                        {{ dsh.price }}
                        </div>
                    </div>
                {%endfor%}
            {%endfor%}
            </div>
        {%endfor%}
        </div>
        </div>

    </section>
{% endblock %}
